.mwfull {
    padding-right: 0;
    padding-left: 0;
}
.box1 {
    background-color: #FFD41C;
    padding: 30px 30px 100px;
    border: 1px solid #FFD41C;
    h2 {
        font-size: 36px;
    font-weight: 700;
    }
    ul {
        padding: 22px;
        padding-left: 60px !important;
        li {
            font-size: 22px;
    font-weight: 600;
    padding-bottom: 8px;
        }
    }
}
.box2 {
    img {
        height: 448px;
    }
}

.tradesection2 {
    margin-top: -65px;
    .divanbases {
        position: relative;
    }
    h2 {
        bottom: 0;
        border: 1px solid #414141;
        text-align: center;
        background-color: #414141;
        color: #fff;
        margin-top: -50px;
        width: 403px;
        position: absolute;
        left: 3px;
        padding: 10px;
    }
}
.boxes1 {
    border: 1px solid #000;
    padding: 105px;
    background-color: #414141;
    h2 {
        font-size: 54px;
        padding-bottom: 40px;
        color: #fff;
        display: block;
        margin: 0 auto;
    }
    a {
        border: 1px solid #000;
        padding: 14px 60px;
        border-radius: 38px;
        background: #FFD41C;
        color: #fff !important;
        font-size: 22px;
    }
}
.tradesection3 {
    margin-top: 30px;
}
.tradesection4 {
    margin-top: 30px;
}
.tradesection5 {
    margin-top: 65px;
}
.longlasting {
    border: 1px solid #000;
    margin-bottom: 50px;
    a {
        text-align: center;
        margin: -27px auto;
        display: block;
        max-width: 220px;
        position: relative;
        padding: 8px;
        color: #fff !important;
        border-radius: 22px;
        font-size: 26px;
        background-color: yellow;
    }
}
.longlasting1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .bxes1:nth-child(4) {
        border: none;
    }
    .bxes1:nth-child(2) {       
        margin-bottom: -10px;
    }
    .bxes1:nth-child(3) {
       
    margin-bottom: -16px;
    padding-top: 46px;

    }
    .bxes1 {
        border-right: 1px solid #000;
        padding-right: 100px;
        padding-top: 50px;
        padding-left: 55px;
        img {
            width: 68px;
            padding-bottom: 18px;
        }
    }
}

.tradesection6 {
    .divanbases1 {
        position: relative;
    }
    h2 {
        bottom: -8px;
        border: 1px solid #414141;
        text-align: center;
        background-color: #414141;
        color: #fff;
        width: 636px;
        position: absolute;
        left: 0;
        padding: 10px;
    }
}
.tradesection7 {
    margin-top: 20px;
    .divanbases1 {
        position: relative;
    }
    h2 {
        bottom: -8px;
        border: 1px solid #414141;
        text-align: center;
        background-color: #414141;
        color: #fff;
        width: 636px;
        position: absolute;
        left: 0;
        padding: 10px;
    }
}

.boxes12 {
    border: 1px solid #D9D9D9;
    padding: 18px;
    background-color: #D9D9D9;
    h2 {
        font-size: 27px;
        padding-bottom: 40px;
        color: #000;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
   p{
    text-align: center;
    font-size: 17px;
    line-height: 24px;
   }
}
.tradesection8 {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        height: 415px;
    }
}


@media (max-width:500px) {
    .mwfull {
        width: 100%;
    }
    .mwfulles {
        width: 100%;
    }
    .tradesection2 {
        h2 {
            width: 380px;
        }
    }
    .boxes1 {
        h2 {
            font-size: 32px;
        }
        a {
            padding: 12px 25px;
        }
    }
    .longlasting {
        padding-bottom: 20px;
    }
    .longlasting1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .bxes1 {
            border: none;
            padding-left: 0;
            padding-right: 0;
            h3 {
                font-size: 18px;
            }
        }
    }
    .tradesection6 {
        h2 {
            width: 412px;
        }
    }
    .tradesection7 {
        h2 {
            width: 412px;
        }
    }
    .box2 {
        img {
            height: 340px;
        }
    }
    .tradesection8 {
        img {
            height: 280px;
        }
    }
}